/* ---------- GENERAL ---------- */

body {
    background-color: #aaa;
}

h1, h3, h4 {
    text-align: center;
}

.post {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #777;
}

.post p {
    padding: 5px;
}

#comments {
    background-color: whitesmoke;
    box-shadow: 3px 3px #777;
    border-radius: 5px;
}

#comments p {
    padding: 5px;
}

#comments a {
    color: red;
}

#formConnexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto 0;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #777;
    background-color: whitesmoke;
    width: 30em;
}

#passwordContainer {
    margin: 1em 0;
}

#passwordContainer label {
    width: 10em;
}

#passwordContainer input {
    width: 15em;
}


#btnConnexion {
    margin-bottom: 1em;
    width: 25em;
}

#alertComment {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 1em 0;
    box-shadow: 3px 3px 3px #777;
    padding-bottom: 10px;
}

#alertComment p {
    padding: 10px 1em 0;
}

#alertComment a {
    padding: 0 1em;
}

.postBackend {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 1em 0;
    box-shadow: 3px 3px 3px #777;
    padding-bottom: 10px;
}
.postBackend h5 {
    padding: 10px 1em 0;
}

.postBackend p {
    text-align: justify;
    height: 5vw;
    overflow: auto;
}

.postBackend p, .postBackend a {
    padding: 0 1em;
}

.commentBackend {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 1em 0;
    box-shadow: 3px 3px 3px #777;
    padding-bottom: 10px;
}

.commentBackend h5 {
    padding: 10px 1em 0;
}

.commentBackend p {
    text-align: justify;
    height: 4vw;
    overflow: auto;
}

.commentBackend p, .commentBackend a {
    padding: 0 1em;
}

footer {
    background-color: black;
}

footer a {
    color: whitesmoke;
}